<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/catch-pokemon.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
        crossorigin="anonymous">
    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/catch-pokemon.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <title>Catch Pokemon</title>
</head>

<body>
    <div id="PokeID" value="<%= pokemon._id  %>"></div>
    <div id="UserID" value="<%= userid  %>"></div>

    <div class="d-flex justify-content-center align-items-center background-main-pokemon">
        <button class="btn btn-primary mybuttonCatch">Continue to catch pokemon</button>
    </div>
    <div class="background-catch-pokemon">
        <div class="main-catch-pokemon">
            <div class="content-catch-pokemon">
                <div class="click-event"></div>
                <div class="pokemon-catch">
                    <img src="/images/pokemons-name/<%= pokemon.name %>.png" alt="" class="img-fluid">
                </div>
                <i class="fas fa-running myRun"></i>
                <div class="pokeball" data-id="ball1">
                    <img src="/images/balls/<%= balls[0].ball_id %>.png" alt="" class="img-fluid">
                    <div class="number">x<%= balls[0].quantity %></div>
                </div>
                <div class="list-pokeball">POKEBALLS
                    <ul class="d-flex justify-content-around align-items-center">
                        <li>
                            <img src="/images/balls/<%= balls[0].ball_id %>.png" data-id="ball1" alt="" class="img-fluid">
                            <div class="numberball1" value="<%= balls[0].quantity %>">x<%= balls[0].quantity %></div>
                        </li>
                        <li>
                            <img src="/images/balls/<%= balls[1].ball_id %>.png" data-id="ball2" alt="" class="img-fluid">
                            <div class="numberball2" value="<%= balls[1].quantity %>">x<%= balls[1].quantity %></div>
                        </li>
                        <li>
                            <img src="/images/balls/<%= balls[2].ball_id %>.png" data-id="ball3" alt="" class="img-fluid">
                            <div class="numberball3" value="<%= balls[2].quantity %>">x<%= balls[2].quantity %></div>
                        </li>
                        <li>
                            <img src="/images/balls/<%= balls[3].ball_id %>.png" data-id="ball4" alt="" class="img-fluid">
                            <div class="numberball4" value="<%= balls[3].quantity %>">x<%= balls[3].quantity %></div>
                        </li>
                    </ul>
                </div>
                <div class="item-pokeball">
                    <img src="/images/balls/<%= balls[0].ball_id %>.png" alt="" class="img-fluid">
                </div>

                <div class="list-berry">BERRIES
                    <ul class="d-flex justify-content-around align-items-center">
                        <li>
                            <img src="/images/toolboxes/<%= toolboxes[0].toolbox_id %>.png" data-id="berry1" alt="" class="img-fluid">
                            <div class="numberberry1" value="<%= toolboxes[0].quantity %>">x<%= toolboxes[0].quantity %></div>
                        </li>
                        <li>
                            <img src="/images/toolboxes/<%= toolboxes[1].toolbox_id %>.png" data-id="berry2" alt="" class="img-fluid">
                            <div class="numberberry2" value="<%= toolboxes[1].quantity %>">x<%= toolboxes[1].quantity %></div>
                        </li>
                        <li>
                            <img src="/images/toolboxes/<%= toolboxes[2].toolbox_id %>.png" data-id="berry3" alt="" class="img-fluid">
                            <div class="numberberry3" value="<%= toolboxes[2].quantity %>">x<%= toolboxes[2].quantity %></div>
                        </li>
                        <li>
                            <img src="/images/toolboxes/<%= toolboxes[3].toolbox_id %>.png" data-id="berry4" alt="" class="img-fluid">
                            <div class="numberberry4" value="<%= toolboxes[3].quantity %>">x<%= toolboxes[3].quantity %></div>
                        </li>
                    </ul>
                </div>
                <div class="item-berry">
                    <img src="/images/toolboxes/<%= toolboxes[0].toolbox_id %>.png" alt="" class="img-fluid">
                </div>
                <div class="like">
                    <img src="/images/like.png" class="img-fluid" alt="">
                </div>
                <div class="gotcha">GOTCHA</div>
                <div class="escape">ESCAPE</div>
            </div>
        </div>
    </div>
</body>

</html>